<div class="sfondo">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <h1 align="center" style="color: rgb(17, 0, 255); background-color: rgb(253, 229, 123)">ER PANETTIERE</h1>
    <p style="color: white;" align="center">Premiata nel 2016 come una fra le 100 migliori botteghe di Milano e riconosciuta da Regione Lombardia come attività storica, Er PANETTIERE è una graziosa bottega situata nel cuore di Brera.Il nostro punto di forza è la capacità di selezionare prodotti Made in Italy in grado di soddisfare i palati più esigenti. Per questo motivo, siamo sempre alla ricerca di nuove specialità regionali da introdurre nel nostro punto vendita per ricreare “un angolo di Italia culinaria a Milano”.
    </p>
    <div class="center">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/be/8b/f1/il-panificio-dall-esterno.jpg" alt="" width="1000" height="650" style="margin-left: 24%;">
    </div>
    </div>
